
body {
    font-family: Arial, sans-serif;
    background:  #4facfe;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;      
}


.container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}


h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}


input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #4facfe;
    outline: none;
}


button {
    width: 100%;
    padding: 12px;
    background-color: #4facfe;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #00c6fb;
}

#msg {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    color: #d8000c;
}

